<!--COmponente listo/cargar en proyecto definitivo-->
<div id="acercade">
  <div class="modal fade" id="ModaAcd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
    <div class="modal-dialog">
      <div class="modal-content">
        <h5 style="padding: 2%;">Datos personales del perfil</h5>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nombre(s) y apellido(s)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Título - Perfil Profesional</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese un resumen de su Curriculum Vitae</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese imagen de perfil (URL)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mat-card">
  <div class="container-sl">
    <div class="container-fluid" style="margin-top: 2%;">
      <img src=""
        style="margin-left: 15%;" class="img-fluid" alt="Banner personal">
  
  
      <div class="card">
        <div class="card-header" style="border-radius: 2%;">
          <div class="card_img">
            <img src="https://avatars.githubusercontent.com/u/94482314?v=4" alt="user-image">
  
          </div>
  
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h1 id="info-name">Ilich Betancourt Rangel</h1>
              <p>Desarrollador Web Full Stack Jr.</p>
              <footer class="blockquote-footer">Desarrollador Web Full Stack Jr. <cite title="Source Title">#Argentina
                  Programa</cite></footer>
            </blockquote>
  
            <div id="info-contact">
              <span id="info-ubication">Río Negro (Argentina) </span>
              <span><a href="#">Información de contacto</a></span>
            </div>

            <div class="dropdown" style="margin-top: 1%;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Acciones del campo
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                    data-bs-target="#ModaAcd">Crear</button></li>
                  <li><button class="dropdown-item" type="button"data-bs-toggle="modal"
                    data-bs-target="#ModaAcd">Modificar</button></li>
                  <li><button class="dropdown-item" type="button">Eliminar</button></li>
                </ul>
            </div>
  
  
  
          </div>
  
          <div class="card-body" style="border-bottom: 1ch;">
            <h5 class="card-title">Acerca de mi</h5>
            <p class="card-text">
              acá resumen CV
            </p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  </div>