<!--COmponente listo/cargar en proyecto definitivo

https://ibrmiportfolioweb.web.app/

-->
<div id="acercade">
  <div class="modal fade" id="ModalAcd" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
  
    <div class="modal-dialog">
      <div class="modal-content">
        <h5 style="padding: 2%;">Datos personales del perfil</h5>
        
        <div class="modal-body">
          <form [formGroup]="acercaDeForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id">


                  <div class="modal-header">
                    <label for="nombrecompleto"><h6>Nombre(s) y Apellido(s)</h6></label>
                    
                    <input type="text" name="nombrecompleto" formControlName="nombrecompleto" class="form-control" required>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
        
                  <div class="modal-header">
                    <label for="titulo"><h6>Título - Perfil Profesional</h6></label>
                    
                    <input type="text" name="titulo" formControlName="titulo" class="form-control" required>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-header">
                    <label for="resumencv"><h6>Ingrese un resumen de su Curriculum Vitae</h6></label>
                    
                    <input type="text" name="resumencv" formControlName="resumencv" class="form-control" required>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-header">
                    <label for="imagenperfil"><h6>Ingrese imagen de perfil (URL)</h6></label>
                    
                    <input type="text" name="imagenperfil" formControlName="imagenperfil" class="form-control" required>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

              </form>
          </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mat-card">
  <div class="container-sl">
    <div class="container-fluid" style="margin-top: 2%;">
      <img src=""
        style="margin-left: 15%;" class="img-fluid" alt="Banner personal">
  
  
      <div class="card">
        <div class="card-header" style="border-radius: 2%;">
          <div class="card_img">
            <img src="https://avatars.githubusercontent.com/u/94482314?v=4" alt="user-image">
  
          </div>
  
          <div class="card-body">
            
            <blockquote class="blockquote mb-0">
              <h1 id="info-name">Ilich Betancourt Rangel</h1> <i class="fa fa-code" style="color: rgb(0, 0, 0); margin-left: 0%; background-color: rgb(255, 255, 255);
              " aria-hidden="true"></i><i class="fa-solid fa-code"></i><i class="fa-regular fa-brackets-curly" style="background-color: black;"></i>
              <p>Desarrollador Web Full Stack Jr.</p>
              <footer class="blockquote-footer">Desarrollador Web Full Stack Jr. <cite title="Source Title">#Argentina
                  Programa</cite></footer>
                 
            </blockquote>
  
            <div id="info-contact">
              <span id="info-ubication">Río Negro (Argentina) </span>
              <span><a href="#">Información de contacto</a></span>
            </div>

            <div class="dropdown" style="margin-top: 1%;">

              <div *ngIf="isUserLogged" class="btn-edit">
                <button class="btn btn-secondary dropdown-toggle" type="button" 
              id="dropdownMenu2" data-bs-toggle="dropdown" (click)="onNuevoAcercaDe()" aria-expanded="false">
                Acciones del campo
              </button>
              </div>

              <button class="btn btn-secondary dropdown-toggle" type="button" 
              id="dropdownMenu2" data-bs-toggle="dropdown" (click)="onNuevoAcercaDe()" aria-expanded="false">
                Acciones del campo
              </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                    data-bs-target="#ModalAcd">Crear</button></li>
                  <li><button class="dropdown-item" type="button"data-bs-toggle="modal"
                    data-bs-target="#ModalAcd">Modificar</button></li>
                  <li><button class="dropdown-item" type="button">Eliminar</button></li>
                </ul>
            </div>
  
  
  
          </div>
  
          <div class="card-body" style="border-bottom: 1ch;">
            <h5 class="card-title">Acerca de mi</h5>
            <p class="card-text">
              acá resumen CV
            </p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>