.container {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(132, 130, 130);
    padding: 1px;

}
ul {
    list-style: none;
}
.card-footer{
    background-color: rgb(228, 232, 230);
}
.mat-card {
text-align: center;
;
}