<div id="educacion">
  <!-- Modal -->
  <div class="modal fade" id="ModalEdu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog">
          <div class="modal-content">
            <h5 style="padding: 2%;">Educación</h5>


            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          
          <div class="modal-body; w3-container w3-card-4 w3-light-grey">
              <form [formGroup]="educacionForm" (ngSubmit)="onSubmit()"><!---->
                <input type="hidden" name="id" formControlName="id">

                    <div class="modal-header">
                      <label for="centro"><h6>Nombre del Centro Educativo</h6></label>
                        
                        <input type="text" name="centro" formControlName="centro" 
                        class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>


                    <div class="modal-header">
                      <label for="titulo"><h6>Título Obtenido</h6></label>
                        
                        <input type="text" name="titulo" formControlName="titulo"
                         class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>


                    <div class="modal-header">
                        <label for="descrip"><h6>Descripción del estudio</h6></label>
                        
                        <input type="text" name="descrip" formControlName="descrip"
                         class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-header">
                        <label for="img"><h6>Logo de Institución</h6></label>
                          
                        <input type="text" name="img" formControlName="img" 
                        class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-header">
                        <label for="puntaje"><h6>Puntaje/Certicación</h6></label>
                          
                        <input type="text" name="puntaje" formControlName="puntaje" 
                        class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-header">
                        <label for="inicio"><h6>Fecha de inicio</h6></label>
                          
                        <input type="date" name="inicio" formControlName="inicio" 
                        class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-header">
                        <label for="fin"><h6>Fecha de finalización</h6></label>
                          
                        <input type="date" name="fin" formControlName="fin" 
                        class="form-control" required style="width: 70%">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-header">
                      <label for="status"><h6>Status</h6></label>
                          
                        <input type="text" style="width: 70%" name="status" formControlName="status"
                         class="form-control" required>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-header">
                      <label for="url"><h6>Página Web</h6></label>
                          
                        <input type="text" style="width: 70%" name="url" formControlName="url"
                         class="form-control" required>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                </div>
             </form>
           </div>
      </div>
    </div>
  </div>

  <div class="mat-card">
    <div class="card" style="margin-top: 1%; margin-bottom: 1%;">
      <h2 style="margin-bottom: 2%; background-color: rgba(100, 177, 245, 0.463);"
       class="card-header">Educación
       <div *ngIf="isUserLogged" class="data-control">
       <div class="dropdown" style="margin: auto; width: fit-content; margin-top: 0%;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          Acciones del campo <i class="fas fa-pencil-alt"></i>
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button style="background-color: rgb(90, 199, 243);" class="dropdown-item" type="button" (click)="onNuevaEducacion()"  data-bs-toggle="modal"
              data-bs-target="#ModalEdu" >Crear <i class="far fa-edit"></i></button></li>
            
          </ul>
      </div>

    </div>

      
      </h2>

    <div class="mat-card">
      <div class="container-fluid" style="background-color: rgb(255, 255, 255); border-color: rgb(255, 254, 254); margin-bottom: -5%; margin-top: -1%;">
        <ul class="items-list" id="experienciaList">
          <li *ngFor="let educacion of educacionList; let i = index">

            <div class="row row-cols-1 row-cols-md-3 g-4" style="border-radius: 10%;  ">
              
                      <div class="col" style="margin-left:2%">
                        <div class="card h-100" style="border-radius: 0%; border-color: rgb(255, 255, 255); margin-top: 0%;margin-left: -18%; padding:25%; ">
                          <img [src]="educacion.img" class="card-img-top" alt="Logo Centro Educativo">
                          <ul class="list-group list-group-flush" style="margin-top: 0.5em; margin-right: 70%; margin-left: 2%; width: 20em;">
                            <a href="{{educacion.url}}" id="irA" style="margin-left: 1%;" class="btn btn-primary">Sitio Web <i class="fas fa-link"></i></a> 
                        </ul>
                        </div>
                      </div>

                      <div class="col" >
                        <div class="card h-100" style="margin-inline-start: -8%; border-color: rgb(255, 255, 255);width: 65em;">
                          <div class="card-body" style="padding: 0%; ">
                            <i style="margin-left:0%" class="fas fa-graduation-cap"></i>
                            <h3 class="card-title">{{educacion.centro}}</h3>
                          </div>
                        
                          <div class="card-body" style="padding: 10%; margin-top: -8%;">
                            <h4 class="card-title" >{{educacion.titulo}}</h4>
                            <p class="texto-justificado">{{educacion.descrip}}</p>

                            <div class="card-footer" style="margin: auto; width: fit-content;">
                              <small style="margin: auto;" class="text-muted"><label for="inicio"></label>
                                {{educacion.inicio}}
                              </small>
                              <span>
                                  - 
                              </span>
                              <small class="text-muted"><label for="fin"></label>
                                {{educacion.fin}}
                              </small>
                              
                          </div>
                          
                          <div class="card-body" style="padding: 10%;margin-top: 0%; ">
                            <h6 class="text-muted">Status de Educación</h6>
                            <div class="card-footer" style="margin-left: 5%; margin-bottom: 40%;">
                              <small style="margin-left: 10%;" class="text-muted">{{educacion.status}}</small>
                            </div>
                            <div *ngIf="isUserLogged" class="data-control">

                              <div class="dropdown" style="margin: auto; width: fit-content; margin-top: -30%;">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                  Acciones del campo <i class="fas fa-pencil-alt"></i>
                                </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    
                                    <li><button style="background-color: rgb(120, 217, 255);" class="dropdown-item" type="button"data-bs-toggle="modal"
                                      (click)="onEditarEducacion(i)" data-bs-target="#ModalEdu">Modificar <i class="fas fa-tools"></i></button></li>
                                    <li><button style="background-color: rgb(226, 109, 109);" class="dropdown-item" (click)="onBorrarEducacion(i)" type="button">Eliminar <i class="fas fa-trash-alt"></i></button></li>
                                  </ul>
                              </div>
                    </div> 
                          </div>

                              
                          </div>

                        </div>
                      </div>
                      
            </div>
          </li>
        </ul>
        



      </div>
    </div>
    </div>
  </div>
  
  
</div>