<div id="idioma">

    <div class="modal fade" id="idiomasForm" tabindex="-1" aria-labelledby="idiomasFormLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="idiomasFormLabel">Idiomas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="idiomasForm"(ngSubmit)="onSubmit()">
                <input type="hidden" name="id" formControlName="id">
    
                <div class="row mb-3">
                  <label for="school" class="col-sm-2 col-form-label">Idioma</label>
                  <div class="col-sm-10">
                    <input type="text" name="idioma" formControlName="idioma" class="form-control" required>
                  </div>
                </div>
    
                <div class="row mb-3">
                  <label for="title" class="col-sm-2 col-form-label">Nivel</label>
                  <div class="col-sm-10">
                    <input type="text" name="nivel" formControlName="nivel" class="form-control" required>
                  </div>
                </div>
    
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Habla</label>
                    <div class="col-sm-10">
                      <input type="text" name="habla" formControlName="habla" class="form-control" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Lee</label>
                    <div class="col-sm-10">
                      <input type="text" name="lee" formControlName="lee" class="form-control" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Escribe</label>
                    <div class="col-sm-10">
                      <input type="text" name="escribe" formControlName="escribe" class="form-control" required>
                    </div>
                  </div>
    
                <div class="text-center">
                  <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
       

      
<header class="container-fluid">
<body
    class="page-template-default page page-id-219166 theme-Divi woocommerce-js et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter osx et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db chrome">
    <div id="page-container" style="padding-top: 5px; margin-top: -1px;" class="et-animated-content">

        <div id="et-main-area">
            <div id="main-content">
                <article id="post-219166" class="post-219166 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="et-l et-l--post">
                            <div class="et_builder_inner_content et_pb_gutters3">
                                <div class="et_pb_section et_pb_section_0 et_section_regular">
                                    
                                </div>


                                
                                    <div class="et_pb_row et_pb_row_1">
                                        <div
                                            class="et_pb_column et_pb_column_1_3 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_dark">
                                                <div class="et_pb_text_inner">
                                                    <h2>Idiomas</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="et_pb_column et_pb_column_1_3 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
                                            <div
                                                class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_right et_pb_bg_layout_dark">

                                                <div class="et_pb_text_inner">Resumen de estudios realizados</div>
                                            </div>
                                        </div>

                                    </div>
                                

                                    <div class="et_pb_section et_pb_section_3 et_section_regular">
                                        <div class="et_pb_with_border et_pb_row et_pb_row_10">
                                            <div
                                                class="et_pb_column et_pb_column_4_4 et_pb_column_30  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                                <div
                                                    class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_left et_pb_bg_layout_light">
                                                    <div class="et_pb_text_inner">
                                                        <h2>Idiomas</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        

                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</body>

