.container {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(132, 130, 130);
    padding: 1px;

}
div#profile-background {
    display: flex;
    z-index: 1;
}
div#profile-background img {
    width: 100%;
    padding: 1px;
    border-radius: 32px 32px 32px 32px;

}