

<body
    class="page-template-default page page-id-219162 theme-Divi woocommerce-js et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db chrome">
    <div id="page-container" style="padding-top: 10px; margin-top: -1px;" class="et-animated-content">
        <header id="main-header" data-height-onload="80" data-height-loaded="true" data-fixed-height-onload="0"
            style="top: 0px;" class="et-fixed-header">
            <div class="container clearfix et_menu_container">
                <div class="title_container">
                    <h1>
                        <a title="Divi Builder Layout Pack">Portfolio Web</a>
                        <a href="#" title="Divi Builder Layout Pack">{{miPortfolio.titulo}}</a>
                    </h1>

                </div>
                <div id="et-top-navigation" data-height="66" data-fixed-height="40">
                    <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav">
                            <li id="menu-item-219161"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219161">
                                
                                <a href="https://github.com/IBetaR" class="icon">
                                    <span><i class="fab fa-github"><p>github</p></i></span>
                                </a>
                            </li>
                            <li id="menu-item-219163"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-219162 current_page_item menu-item-219163">
                                <a href="Instagram" aria-current="page">Instagram</a>
                            </li>
                            <li id="menu-item-219165"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219165"><a
                                    href="#">Web profesional</a>
                            </li>
                            <!--<li id="menu-item-219167"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219167"><a
                                    href="#">Experiencia</a>
                            </li>
                            <li id="menu-item-219169"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219169"><a
                                    href="#">Portfolio</a>
                            </li>-->
                            <li id="menu-item-219171"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219171">
                                
                                <button type="button" class="btn btn-primary btn-sm">Login</button>
                            </li>
                            <button type="button" class="btn btn-success">Login</button>

                            <li id="menu-item-219175" 
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219175 "><a
                                    href="#">Logout</a>
                            </li>

                            
                        </ul>
                    </nav>
                    
                        <button  class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
                        <button  class="btn btn-outline-success my-2 my-sm-0" routerLink="/logout" >Logout</button>

                </div>
            </div>

        </header>
        <header class="container">
        <div class="container" id="profile-background"><img id="info-back-img"
            src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1645588080/Banner4.png"
            alt="Imagen de fondo" width="full" height="full">
        </div>
    </header>
    

    </div>

</body>