.button{
    border-radius:5rem;
    box-shadow: inset;
    background-color: red;

}

ul {
    list-style: none;
}

.texto-justificado{
    
    text-align: justify;
    }

.cajaP {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: auto;
    margin: 5px;
    
    }
.margenboton{
    margin-right: 70%;
}