.button{
    border-radius:5rem;
    box-shadow: inset;
    background-color: red;

}

ul {
    list-style: none;
}

.texto-justificado{
    
    text-align: justify;
    }

.cajaP {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: auto;
    margin: 5px;
    
    }
.margenboton{
    margin-right: 70%;
}
.card-footer{
    background-color: rgb(228, 232, 230);
}
.mat-card {
text-align: center;
;
}
.card-header{
    background: linear-gradient(to bottom,rgb(88, 218, 244), white)
}
.card-header1{
    background: linear-gradient(to bottom,rgba(148, 166, 146, 0.389), white)
}