
<div id="referencia">
<header >
    
    <div class="container-fluid">

    <body
        class="page-template-default page page-id-219166 theme-Divi woocommerce-js et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter osx et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db chrome">
        <div id="page-container" style="padding-top: 5px; margin-top: -1px;" class="et-animated-content">
    
            <div id="et-main-area">
                <div id="main-content">
                    <article id="post-219166" class="post-219166 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="et-l et-l--post">
                                <div class="et_builder_inner_content et_pb_gutters3">
                                    <div class="et_pb_section et_pb_section_0 et_section_regular">
                                    
                                    </div>
    
                                        <div class="et_pb_row et_pb_row_1">
                                            <div
                                                class="et_pb_column et_pb_column_1_3 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
                                                <div
                                                    class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_dark">
                                                    <div class="et_pb_text_inner">
                                                        <h2>Referencias</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="et_pb_column et_pb_column_1_3 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
                                                <div
                                                    class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_right et_pb_bg_layout_dark">
    
                                                    <div class="et_pb_text_inner">Resumen de estudios realizados</div>
                                                </div>
                                            </div>
    
                                        </div>

                                        
                                    
                                        <div class="et_pb_section et_pb_section_3 et_section_regular">
                                            <div class="et_pb_with_border et_pb_row et_pb_row_10">
                                                <div
                                                    class="et_pb_column et_pb_column_4_4 et_pb_column_30  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                                    <div
                                                        class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_left et_pb_bg_layout_light">
                                                        <div class="et_pb_text_inner">
                                                            <h2>Proyectos &amp; Logros</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="et_pb_row et_pb_row_11 et_pb_row_4col">
    
                                                <div
                                                    class="et_pb_column et_pb_column_1_4 et_pb_column_31  et_pb_css_mix_blend_mode_passthrough et_pb_column_empty">
                                                    <div class="et_pb_module et_pb_image et_pb_image_0">
                                                        <span class="et_pb_image_wrap "><img width="210" height="210"
                                                                src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1645588080/Banner4.png"
                                                                alt="imagen de perfil" title="" class="wp-image-47819">
                                                        </span>

                                                        
                                                    </div>
                                                </div>
    
    
                                                <div
                                                    class="et_pb_column et_pb_column_1_4 et_pb_column_32  et_pb_css_mix_blend_mode_passthrough">
                                                    <div
                                                        class="et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_left et_pb_bg_layout_light">
                                                        <div class="et_pb_text_inner">
                                                            <h3>Argentina Programa</h3>
                                                            <div class="et_pb_text_inner">2021 - actulidad</div>

                                                            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="educationForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="educationFormLabel">Referencias Profesionales/Personales</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

        </div>

        <!--Cuerpo del modal-->
        <div class="modal-body">
            <form [formGroup]="referenciaForm" (ngSubmit)="onSubmit()">
                <input type="hidden" name="id" formControlName="id">
    
                <div class="row mb-3">
                  <label for="nombrecompleto" class="col-sm-2 col-form-label">Nombre completo</label>
                  <div class="col-sm-10">
                    <input type="text" name="nombrecompleto" formControlName="nombrecompleto" class="form-control" required>
                  </div>
                </div>
    
                <div class="row mb-3">
                  <label for="linkedin" class="col-sm-2 col-form-label">LinkedIn - Redes Sociales - URL</label>
                  <div class="col-sm-10">
                    <input type="text" name="linkedin" formControlName="linkedin" class="form-control" required>
                  </div>
                </div>
    
                <div class="row mb-3">
                  <label for="otrodato" class="col-sm-2 col-form-label">Otros Datos (Teléfono/Email)</label>
                  <div class="col-sm-10">
                    <input type="text" name="score" formControlName="otrodato" class="form-control" required>
                  </div>
                </div>
    
                <div class="text-center">
                  <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
              </form>
         


        </div>
        
      </div>
    </div>
  </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="et_pb_column et_pb_column_1_4 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough">
                                                    <div
                                                        class="et_pb_module et_pb_text et_pb_text_21  et_pb_text_align_left et_pb_bg_layout_light">
                                                        <div class="et_pb_text_inner">
                                                            <h4>Desarrollador Web Full Stack Jr.</h4>
                                                            <p>Descripción del Programa - Back End &amp; Front End </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="et_pb_column et_pb_column_1_4 et_pb_column_34  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                                    <div
                                                        class="et_pb_module et_pb_text et_pb_text_22  et_pb_text_align_left et_pb_bg_layout_light">
                                                        

                                                        <div class="card text-center" style="width: 12rem; height:8rem  ;  background-color: rgba(127, 255, 236, 0.646); border-width: 1rem;">
                                                            <div class="card-body">
                                                              <button class="card-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                              <button class="btn btn-secondary btn-sm"> Editar  sección </button>
                                                              
                                                            </div>
                                                          
                                                          </div>

                                                        </div>
                                                        <div class="card text-center" style="width: 12rem; height:8rem  ; border-radius: 30%;  background-color: rgba(226, 130, 130, 0.646); border-width: 1rem;" >
                                                          <div class="card-body">
                                                            <button class="card-title" style="border-radius: 35%;"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                            <button class="btn btn-danger btn-sm" style="border-radius: 10%;">Eliminar sección</button>
                                                            
                                                            
                                                          </div>

                                                          

                                                          

                                                          

                                                          
                                                        
                                                    </div>
                                                </div>

                                                
                                            </div>

                                            


    
    
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
    
            </div>
        </div>
    </body>
    </div>
    </header>
<div class="container">
    
  <!-- Content here -->
</div>