<!-- CSS only -->

<div id="pagina404">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<header class="container-fluid">
    <div class="card">
<div class="alert alert-warning alert-dismissible fade show" style="padding: 20%;" role="alert">
    <h1><strong>ERROR - Página 404</strong> </h1>
    
    <p>Página no encontrada!</p>
    <button routerLink="/portfolio" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
</header>