<footer id="main-footer">
    <div id="footer-bottom">
        <div class="container clearfix">
            <ul class="et-social-icons">
                
                <li class="grey-text fab fa-github fa-2x">
                    <a href="https://github.com/IBetaR" class="icon">
                        <span><i class="fab fa-github"></i></span>
                    </a>
                </li>
                <li class="grey-text fab fa-instagram fa-2x">
                    <a href="#" class="icon">
                        <span><i class="fab fa-instagram"></i></span>
                    </a>
                </li>
                <li class="grey-text fab fa-twitter fa-2x">
                    <a href="#" class="icon">
                        <span><i class="fab fa-twitter"></i></span>
                    </a>
                </li>
            </ul>
            <p id="footer-info"> Tema/Estilos <a href="#"
                    title="Premium WordPress Themes"> WordPress</a> | Powered by <a
                    href="https://www.wordpress.org">WordPress</a></p>
        </div>
    </div>
    
</footer>

